@if (isView()) {
<section class="flex flex-col lg:flex-row gap-5">
  @if (isInsert()) {
  <div class="w-full md:max-w-xl border mb-10 px-2">
    <h1 class="text-xl md:text-3xl font-bold text-emerald-500 underline text-center mb-5">
      Menu Form
    </h1>
    <form (submit)="onSubmit($event)" class="space-y-1">
      <!-- menuName -->
      <div>
        @let menuName = form.menuName(); @let menuNameError = form.menuName().invalid() &&
        form.menuName().touched();
        <div class="relative pb-2">
          <input
            type="text"
            [field]="form.menuName"
            id="menuName"
            autocomplete="off"
            class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-heading bg-transparent rounded-base border border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer"
            placeholder=" "
          />
          <label
            for="menuName"
            class="absolute text-sm text-body duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-left bg-neutral-primary px-2 peer-focus:px-2 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1 uppercase"
            >menu Name</label
          >
        </div>
        @if (menuNameError) {
        <ul class="-mt-2 mb-2 unordered-list-disc list-inside">
          @for (error of menuName.errors(); track error) {
          <li class="text-sm text-red-600 list-disc">{{ error.message }}</li>
          }
        </ul>
        }
      </div>

      <!-- parentMenuId -->
      <div>
        @let parentMenuId = form.parentMenuId(); @let parentMenuIdError =
        form.parentMenuId().invalid() && form.parentMenuId().touched();
        <div class="relative pb-2">
          <select
            [field]="form.parentMenuId"
            id="parentMenuId"
            class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-heading bg-transparent rounded-base border border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer"
          >
            <option value="">Select Parent Menu</option>
            @for(option of menuOptions(); track $index){
            <option [value]="option?.key">{{ option?.value }}</option>
            }
          </select>
          <label
            for="parentMenuId"
            class="absolute text-sm text-body duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-left bg-neutral-primary px-2 peer-focus:px-2 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1 uppercase"
            >Parent menu</label
          >
        </div>
        @if (parentMenuIdError) {
        <ul class="-mt-2 mb-2 unordered-list-disc list-inside">
          @for (error of parentMenuId.errors(); track error) {
          <li class="text-sm text-red-600 list-disc">{{ error.message }}</li>
          }
        </ul>
        }
      </div>

      <!-- url -->
      <div>
        @let url = form.url(); @let urlError = form.url().invalid() && form.url().touched();
        <div class="relative pb-2">
          <input
            type="text"
            [field]="form.url"
            id="url"
            autocomplete="off"
            class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-heading bg-transparent rounded-base border border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer"
            placeholder=" "
          />
          <label
            for="url"
            class="absolute text-sm text-body duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-left bg-neutral-primary px-2 peer-focus:px-2 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1 uppercase"
            >menu url</label
          >
        </div>
        @if (urlError) {
        <ul class="-mt-2 mb-2 unordered-list-disc list-inside">
          @for (error of url.errors(); track error) {
          <li class="text-sm text-red-600 list-disc">{{ error.message }}</li>
          }
        </ul>
        }
      </div>

      <!-- icon -->
      <div>
        @let icon = form.icon(); @let iconError = form.icon().invalid() && form.icon().touched();
        <div class="relative pb-2">
          <input
            type="text"
            [field]="form.icon"
            id="icon"
            autocomplete="off"
            class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-heading bg-transparent rounded-base border border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer"
            placeholder=" "
          />
          <label
            for="icon"
            class="absolute text-sm text-body duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-left bg-neutral-primary px-2 peer-focus:px-2 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1 uppercase"
            >menu icon</label
          >
        </div>
        @if (iconError) {
        <ul class="-mt-2 mb-2 unordered-list-disc list-inside">
          @for (error of icon.errors(); track error) {
          <li class="text-sm text-red-600 list-disc">{{ error.message }}</li>
          }
        </ul>
        }
      </div>

      <!-- Menu Permissions Multi-Select -->
<div class="relative pb-2">
  <label
    class="absolute text-sm text-body duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-left bg-neutral-primary px-2 peer-focus:px-2 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1 uppercase mt-2"
    >Menu Permissions</label
  >
  <multi-select
    [options]="permissionOptions"
    placeholder="Select menu permissions"
    [(ngModel)]="permissionsKey"
    [ngModelOptions]="{ standalone: true }"
  ></multi-select>
</div>

      <!-- Is Active Radio Buttons -->
      <div class="space-y-3">
        <p class="text-sm font-medium text-gray-700">Status</p>
        <div class="flex space-x-6">
          <label class="inline-flex items-center">
            <input
              type="radio"
              [field]="form.isActive"
              value="true"
              class="h-4 w-4 border-gray-300 text-emerald-600 focus:ring-emerald-500"
            />
            <span class="ml-2 text-sm text-gray-700">Active</span>
          </label>
          <label class="inline-flex items-center">
            <input
              type="radio"
              [field]="form.isActive"
              value="false"
              class="h-4 w-4 border-gray-300 text-red-600 focus:ring-red-500"
            />
            <span class="ml-2 text-sm text-gray-700">Inactive</span>
          </label>
        </div>
      </div>

      <div class="flex gap-2">
        <!-- Save -->
        <input
          type="submit"
          [value]="selectedMenu() ? 'Update' : 'Save'"
          [disabled]="form().invalid()"
          class="text-gray-50 bg-linear-to-r from-emerald-400 via-emerald-500 to-emerald-600 hover:bg-linear-to-br focus:ring-1 focus:outline-none focus:ring-emerald-300 shadow-lg shadow-emerald-500/50 font-medium rounded text-sm px-5 py-2.5 text-center me-2 mb-2 h-10 w-full"
        />

        <button
          type="button"
          (click)="formReset()"
          class="text-gray-50 bg-linear-to-r from-red-400 via-red-500 to-red-600 hover:bg-linear-to-br focus:ring-1 focus:outline-none focus:ring-red-300 shadow-lg shadow-red-500/50 font-medium rounded text-sm px-5 py-2.5 text-center me-2 mb-2 h-10"
        >
          Clear
        </button>
      </div>
    </form>
  </div>
  }

  <div class="w-full border mb-10 px-3 max-h-[98vh] overflow-scroll">
    <h1 class="text-xl md:text-3xl font-bold text-emerald-500 underline text-center">Menu List</h1>

    <div
      class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default"
    >
      <div class="p-4">
        <label for="search" class="sr-only">Search</label>
        <div class="relative">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
          </div>
          <input
            #searchInput
            autocomplete="off"
            (input)="onSearch($event)"
            type="text"
            id="search"
            class="block w-full max-w-xl ps-9 pe-3 bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand px-3 py-2.5 shadow-xs placeholder:text-body"
            placeholder="Search"
          />
        </div>
      </div>

      <!-- Loading State -->
      @if (isLoading()) {
      <p class="text-3xl font-bold text-center p-10 text-emerald-600">Loading ...</p>
      }

      <!-- Error State -->
      @else if (hasError()) {
      <p class="text-3xl font-bold text-center p-10 text-red-600">
        There was an error loading data.
      </p>
      }

      <!-- Empty State -->
      @else if (filteredMenuList().length === 0) {
      <p class="text-3xl font-bold text-center p-10 text-orange-600">No carousels found.</p>
      }

      <!-- Table -->
      @else {
      <table class="w-full text-sm text-left rtl:text-right text-body">
        <thead
          class="text-sm text-body bg-neutral-secondary-medium border-b border-t border-default-medium"
        >
          <tr>
            <th scope="col" class="px-6 py-3 font-medium">Name</th>
            <th scope="col" class="px-6 py-3 font-medium">Parent Name</th>
            <th scope="col" class="px-6 py-3 font-medium">URL</th>
            <th scope="col" class="px-6 py-3 font-medium">Icon</th>
            <th scope="col" class="px-6 py-3 font-medium">Permissions</th>
            <th scope="col" class="px-6 py-3 font-medium">Status</th>
            @if (isEdit() || isDelete()) {
            <th scope="col" class="px-6 py-3 font-medium">Action</th>
            }
          </tr>
        </thead>
        <tbody>
          @for (item of filteredMenuList(); track item?.id || $index) {
          <tr
            class="bg-neutral-primary-soft border-b border-default hover:bg-neutral-secondary-medium"
          >
            <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
              {{ item?.menuName }}
            </th>
            <td class="px-6 py-4">{{ getParentMenuName(item?.parentMenuId) }}</td>
            <td class="px-6 py-4">{{ item?.url }}</td>
            <td class="px-6 py-4">{{ item?.icon }}</td>
            <td class="px-6 py-4">{{ item?.permissionsKey }}</td>
            <td class="px-6 py-4">{{ item?.isActive }}</td>
            <td class="px-6 py-4">
              @if (isEdit()) {
              <button
                class="text-orange-50 bg-orange-400 hover:bg-orange-500 px-1 py-0.5 rounded cursor-pointer mr-1"
                (click)="onUpdate(item)"
              >
                <fa-icon [icon]="faPencil"></fa-icon>
              </button>
              } @if (isDelete()) {
              <button
                class="text-rose-50 bg-rose-600 hover:bg-rose-700 px-1 py-0.5 rounded cursor-pointer"
                (click)="onDelete(item?.id)"
              >
                <fa-icon [icon]="faXmark"></fa-icon>
              </button>
              }
            </td>
          </tr>
          }
        </tbody>
      </table>
      }
    </div>
  </div>
</section>
} @else {
<p class="text-3xl font-bold text-center p-10 text-red-600">
  You don't have permission to view this page.
</p>
}
