@if (isView()) {
  @if (showList()) {
    <div class="max-w-8xl mx-auto relative mt-5">
      <div class="w-full mb-10 px-3">
        <div
          class="relative overflow-x-auto bg-neutral-primary shadow-xs rounded-base border border-default"
        >
          <div class="flex justify-between p-4">
            <div class="w-full">
              <label for="search" class="sr-only">Search</label>
              <div class="relative">
                <div
                  class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none text-gray-600"
                >
                  <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
                </div>
                <input
                  #searchInput
                  autocomplete="off"
                  (input)="onSearch($event)"
                  type="text"
                  id="search"
                  class="block w-full max-w-xl ps-9 pe-3 bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand px-3 py-2.5 shadow-xs placeholder:text-body"
                  placeholder="Search by Name, Mobile, or Address"
                />
              </div>
            </div>
            <h1
              class="text-xl md:text-3xl font-bold text-emerald-500 underline text-center mb-1 w-full"
            >
              Menu List
            </h1>
            @if (isInsert()) {
              <div class="w-full flex justify-end">
                <button
                  type="button"
                  (click)="showList.set(false)"
                  class="text-white bg-linear-to-r from-green-400 via-green-500 to-green-600 hover:bg-linear-to-br focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-base text-sm px-4 py-2.5 text-center leading-5 cursor-pointer"
                >
                  Add
                </button>
              </div>
            }
          </div>

          <!-- Loading State -->
          @if (isLoading()) {
            <p class="text-3xl font-bold text-center p-10 text-emerald-600">Loading ...</p>
          }

          <!-- Error State -->
          @else if (hasError()) {
            <p class="text-3xl font-bold text-center p-10 text-red-600">
              There was an error loading data.
            </p>
          }

          <!-- Empty State -->
          @else if (filteredMenuList().length === 0) {
            <p class="text-3xl font-bold text-center p-10 text-orange-600">No Items found.</p>
          }

          <!-- Table -->
          @else {
            <table class="w-full text-sm text-left rtl:text-right text-body overflow-scroll">
              <thead
                class="text-sm text-body bg-neutral-secondary-medium border-b border-t border-default-medium"
              >
                <tr>
                  <th scope="col" class="px-6 py-3 font-medium capitalize">Name</th>
                  <th scope="col" class="px-6 py-3 font-medium capitalize">Parent Name</th>
                  <th scope="col" class="px-6 py-3 font-medium capitalize">URL</th>
                  <th scope="col" class="px-6 py-3 font-medium capitalize">Icon</th>
                  <th scope="col" class="px-6 py-3 font-medium capitalize">Permissions</th>
                  <th scope="col" class="px-6 py-3 font-medium capitalize">Status</th>
                  @if (isEdit() || isDelete()) {
                    <th scope="col" class="px-6 py-3 font-medium capitalize">Actions</th>
                  }
                </tr>
              </thead>
              <tbody>
                @for (item of filteredMenuList(); track item?.id || $index) {
                  <tr
                    class="bg-neutral-primary border-b border-default hover:bg-yellow-100 odd:bg-neutral-primary even:bg-neutral-secondary-soft"
                    [class.bg-blue-50]="selected()?.id === item.id"
                  >
                    <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                      {{ item?.menuName }}
                    </th>
                    <td class="px-6 py-4">{{ getParentMenuName(item?.parentMenuId) }}</td>
                    <td class="px-6 py-4">{{ item?.url }}</td>
                    <td class="px-6 py-4">{{ item?.icon }}</td>
                    <td class="px-6 py-4">{{ item?.permissionsKey }}</td>
                    <td class="px-6 py-4">{{ item?.isActive }}</td>
                    <td class="px-6 py-4">
                      @if (isEdit()) {
                        <button
                          class="text-orange-50 bg-orange-400 hover:bg-orange-500 px-1 py-0.5 rounded cursor-pointer mr-1"
                          (click)="onUpdate(item)"
                        >
                          <fa-icon [icon]="faPencil"></fa-icon>
                        </button>
                      }
                      @if (isDelete()) {
                        <button
                          class="text-rose-50 bg-rose-600 hover:bg-rose-700 px-1 py-0.5 rounded cursor-pointer"
                          (click)="onDelete(item?.id)"
                        >
                          <fa-icon [icon]="faXmark"></fa-icon>
                        </button>
                      }
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          }
        </div>
      </div>
    </div>
  } @else {
    <div class="max-w-8xl mx-auto relative">
      <!-- Menu Registration Form -->
      <div
        class="bg-white rounded-lg shadow-md border border-gray-200 transition-all"
      >
        <!-- Form Header -->
        <div class="bg-blue-300 h-2 rounded-t-lg transition-all"></div>
        <div class="p-6">
          <div class="flex justify-between items-center mb-6">
            <h2 class="text-2xl font-bold text-gray-800 transition-all">
              Menu Form
            </h2>
            <button
              class="text-rose-50 bg-rose-600 hover:bg-rose-700 px-1 py-0.5 rounded cursor-pointer"
              (click)="onToggleList()"
            >
              <fa-icon [icon]="faXmark"></fa-icon>
            </button>
          </div>

          <!-- Form Fields -->
          <form class="space-y-6" (submit)="onSubmit($event)">
            <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-2">
              <!-- menuName -->
              <div class="">
                @let menuName = form.menuName();
                @let menuNameError = form.menuName().invalid() && form.menuName().touched();
                <div class="relative pb-2">
                  <input
                    type="text"
            [field]="form.menuName"
                    id="menuName"
                    autocomplete="off"
                    class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-heading bg-transparent rounded-base border border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer"
                    placeholder=" "
                  />
                  <label
                    for="menuName"
                    class="absolute text-sm text-body duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-left bg-neutral-primary px-2 peer-focus:px-2 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1 uppercase"
                    >menu Name</label
                  >
                </div>
                @if (menuNameError) {
                  <ul class="-mt-2 mb-2 unordered-list-disc list-inside">
                    @for (error of menuName.errors(); track error) {
                      <li class="text-sm text-red-600 list-disc">{{ error.message }}</li>
                    }
                  </ul>
                }
              </div>

              <!-- parentMenuId -->
              <div class="">
                @let parentMenuId = form.parentMenuId();
                @let parentMenuIdError =
                  form.parentMenuId().invalid() && form.parentMenuId().touched();
                <div class="relative pb-2">
                  <select
                    [field]="form.parentMenuId"
                    id="parentMenuId"
                    class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-heading bg-transparent rounded-base border border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer"
                  >
                    <option value="">Select Parent Menu</option>
                    @for (option of menuOptions(); track $index) {
                      <option [value]="option?.key">{{ option?.value }}</option>
                    }
                  </select>
                  <label
                    for="parentMenuId"
                    class="absolute text-sm text-body duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-left bg-neutral-primary px-2 peer-focus:px-2 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1 uppercase"
                    >Parent menu</label
                  >
                </div>
                @if (parentMenuIdError) {
                  <ul class="-mt-2 mb-2 unordered-list-disc list-inside">
                    @for (error of parentMenuId.errors(); track error) {
                      <li class="text-sm text-red-600 list-disc">{{ error.message }}</li>
                    }
                  </ul>
                }
              </div>

              <!-- url -->
              <div class="">
                @let url = form.url(); @let urlError = form.url().invalid() && form.url().touched();
                <div class="relative pb-2">
                  <input
                    type="text"
                    [field]="form.url"
                    id="url"
                    autocomplete="off"
                    class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-heading bg-transparent rounded-base border border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer"
                    placeholder=" "
                  />
                  <label
                    for="url"
                    class="absolute text-sm text-body duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-left bg-neutral-primary px-2 peer-focus:px-2 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1 uppercase"
                    >menu url</label
                  >
                </div>
                @if (urlError) {
                  <ul class="-mt-2 mb-2 unordered-list-disc list-inside">
                    @for (error of url.errors(); track error) {
                      <li class="text-sm text-red-600 list-disc">{{ error.message }}</li>
                    }
                  </ul>
                }
              </div>

              <!-- icon -->
              <div class="">
                @let icon = form.icon();
                @let iconError = form.icon().invalid() && form.icon().touched();
                <div class="relative pb-2">
                  <input
                    type="text"
                    [field]="form.icon"
                    id="icon"
                    autocomplete="off"
                    class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-heading bg-transparent rounded-base border border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer"
                    placeholder=" "
                  />
                  <label
                    for="icon"
                    class="absolute text-sm text-body duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-left bg-neutral-primary px-2 peer-focus:px-2 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1 uppercase"
                    >menu icon</label
                  >
                </div>
                @if (iconError) {
                  <ul class="-mt-2 mb-2 unordered-list-disc list-inside">
                    @for (error of icon.errors(); track error) {
                      <li class="text-sm text-red-600 list-disc">{{ error.message }}</li>
                    }
                  </ul>
                }
              </div>

              <!-- Menu Permissions Multi-Select -->
              <div class="relative mb-2">
                <label
                  class="absolute text-sm text-body duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-left bg-neutral-primary px-2 peer-focus:px-2 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1 uppercase"
                  >Menu Permissions</label
                >
                <multi-select
                  [options]="permissionOptions"
                  placeholder="Select menu permissions"
                  [(ngModel)]="permissionsKey"
                  [ngModelOptions]="{ standalone: true }"
                ></multi-select>
              </div>

              <!-- Is Active Radio Buttons -->
              <div class="text-heading">
                <p class="text-sm font-medium">Status</p>
                <div class="flex space-x-6">
                  <label class="inline-flex items-center">
                    <input
                      type="radio"
                      [field]="form.isActive"
                      value="true"
                      class="h-4 w-4 border-gray-300 text-emerald-600 focus:ring-emerald-500"
                    />
                    <span class="ml-2 text-sm">Active</span>
                  </label>
                  <label class="inline-flex items-center">
                    <input
                      type="radio"
                      [field]="form.isActive"
                      value="false"
                      class="h-4 w-4 border-gray-300 text-red-600 focus:ring-red-500"
                    />
                    <span class="ml-2 text-sm">Inactive</span>
                  </label>
                </div>
              </div>

              <div class="flex gap-2 lg:col-span-2 xl:col-span-3">
                <!-- Save -->
                <input
                  type="submit"
                  [value]="isSubmitted() ? 'Submitting ...' : selected() ? 'Update' : 'Save'"
                  [disabled]="form().invalid() || isSubmitted()"
                  class="text-gray-50 bg-linear-to-r from-emerald-400 via-emerald-500 to-emerald-600 hover:bg-linear-to-br focus:ring-1 focus:outline-none focus:ring-emerald-300 shadow-lg shadow-emerald-500/50 font-medium rounded text-sm px-5 py-2.5 text-center me-2 mb-2 h-10 w-full disabled:cursor-not-allowed disabled:opacity-50invalid:opacity-50"
                />

                <button
                  type="button"
                  (click)="onToggleList()"
                  class="text-gray-50 bg-linear-to-r from-red-400 via-red-500 to-red-600 hover:bg-linear-to-br focus:ring-1 focus:outline-none focus:ring-red-300 shadow-lg shadow-red-500/50 font-medium rounded text-sm px-5 py-2.5 text-center me-2 mb-2 h-10"
                >
                  Close
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  }
} @else {
  <p class="text-3xl font-bold text-center p-10 text-red-600">
    You don't have permission to view this page.
  </p>
}

