@if (isView()) {
<section class="flex flex-col lg:flex-row gap-5">
  @if (isInsert()) {
  <div class="w-full md:max-w-xl border mb-10">
    <h1 class="text-xl md:text-3xl font-bold text-emerald-500 underline text-center mb-5">
      Carousel Form
    </h1>
    <form
      (submit)="onSubmit($event)"
      class="min-w-100 mx-auto px-2"
      enctype="multipart/form-data"
    >
      <!-- Title -->
      <div>
        @let title = form.title(); @let titleError = form.title().invalid() &&
        form.title().touched();
        <div class="relative pb-2">
          <input
            type="text"
            [field]="form.title"
            id="title"
            class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-heading bg-transparent rounded-base border border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer"
            placeholder=" "
          />
          <label
            for="title"
            class="absolute text-sm text-body duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-left bg-neutral-primary px-2 peer-focus:px-2 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1 capitalize"
            >Carousel title</label
          >
        </div>
        @if (titleError) {
        <ul class="-mt-2 mb-2">
          @for (error of title.errors(); track error) {
          <li class="text-sm text-red-600">{{ error.message }}</li>
          }
        </ul>
        }
      </div>
      <!-- description -->
      <div class="relative pb-2">
        <textarea
          id="description"
          [field]="form.description"
          rows="4"
          class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-heading bg-transparent rounded-base border border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer"
          placeholder=""
        ></textarea>
        <label
          for="description"
          class="absolute text-sm text-body duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-left bg-neutral-primary px-2 peer-focus:px-2 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
          >Carousel Description</label
        >
      </div>

      <!-- Image File Upload -->
      <div class="pb-2">
        <label class="block text-sm font-medium text-heading" for="imageUrl">Upload Image</label>
        <input
          #fileInput
          id="imageUrl"
          type="file"
          accept="image/*"
          (change)="onFileSelect($event)"
          class="cursor-pointer bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full shadow-xs placeholder:text-body"
        />
  <p class="mt-1 text-sm text-gray-500" id="file_input_help">SVG, PNG, JPG or WEBP (MAX. 1280x720px).</p>
      </div>

      <!-- Error Message -->
      @if (error().message && error().type === 'form') {
      <div
        class="mt-6 p-3 bg-red-50 dark:bg-red-900/20 border border-red-200 dark:border-red-800 rounded-md flex items-center justify-between relative"
      >
        <div class="text-red-600 dark:text-red-400 text-sm text-center">
          {{ error().message }}
        </div>
        <button
          (click)="closeError($event)"
          class="text-red-600 dark:text-red-400 hover:text-red-800 dark:hover:text-red-600 cursor-pointer"
        >
          <fa-icon [icon]="faXmark" class="w-5 h-5"></fa-icon>
        </button>
      </div>
      }

      <div class="flex gap-2">
        <!-- Save -->
        <button
          type="submit"
          [disabled]="isSubmitting()"
          class="text-gray-50 bg-linear-to-r from-emerald-400 via-emerald-500 to-emerald-600 hover:bg-linear-to-br focus:ring-1 focus:outline-none focus:ring-emerald-300 shadow-lg shadow-emerald-500/50 font-medium rounded text-sm px-5 py-2.5 text-center me-2 mb-2 h-10 w-full disabled:opacity-50 disabled:cursor-not-allowed transition-colors duration-200 cursor-pointer"
        >
          @if (isSubmitting()) {
          <span class="flex items-center justify-center">
            <svg
              class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <circle
                class="opacity-25"
                cx="12"
                cy="12"
                r="10"
                stroke="currentColor"
                stroke-width="4"
              ></circle>
              <path
                class="opacity-75"
                fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
              ></path>
            </svg>
            Submitting Form...
          </span>
          } @else {
          <span>{{ selectedCarousel() ? 'Update' : 'Save' }}</span>
          }
        </button>

        <button
          type="button"
          (click)="formReset()"
          class="text-gray-50 bg-linear-to-r from-red-400 via-red-500 to-red-600 hover:bg-linear-to-br focus:ring-1 focus:outline-none focus:ring-red-300 shadow-lg shadow-red-500/50 font-medium rounded text-sm px-5 py-2.5 text-center me-2 mb-2 h-10"
        >
          Clear
        </button>
      </div>
    </form>
  </div>
  }

  <!-- Carousel List Table -->
  <div class="w-full border mb-10 px-3 max-h-[98vh] overflow-scroll">
    <h1 class="text-xl md:text-3xl font-bold text-emerald-500 underline text-center">
      Carousel List
    </h1>

    <div
      class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default"
    >
      <div class="p-4">
        <label for="search" class="sr-only">Search</label>
        <div class="relative">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
          </div>
          <input
            #searchInput
            autocomplete="off"
            (input)="onSearch($event)"
            type="text"
            id="search"
            class="block w-full max-w-xl ps-9 pe-3 bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand px-3 py-2.5 shadow-xs placeholder:text-body"
            placeholder="Search"
          />
        </div>
      </div>

      <!-- Loading State -->
      @if (isLoading()) {
      <p class="text-3xl font-bold text-center p-10 text-emerald-600">Loading ...</p>
      }

      <!-- Error State -->
      @else if (error().message && error().type === 'load') {
      <p class="text-3xl font-bold text-center p-10 text-red-600">
        There was an error loading data.
      </p>
      }

      <!-- Empty State -->
      @else if (filteredCarouselList().length === 0) {
      <p class="text-3xl font-bold text-center p-10 text-orange-600">No carousels found.</p>
      }

      <!-- Table -->
      @else {
      <table class="w-full text-sm text-left rtl:text-right text-body">
        <thead
          class="text-sm text-body bg-neutral-secondary-medium border-b border-t border-default-medium"
        >
          <tr>
            <th scope="col" class="px-6 py-3 font-medium">Image</th>
            <th scope="col" class="px-6 py-3 font-medium">Title</th>
            <th scope="col" class="px-6 py-3 font-medium">Description</th>
            @if (isEdit() || isDelete()) {
            <th scope="col" class="px-6 py-3 font-medium">Action</th>
            }
          </tr>
        </thead>
        <tbody>
          @for (item of filteredCarouselList(); track item?.id || $index) {
          <tr
            class="bg-neutral-primary-soft border-b border-default hover:bg-neutral-secondary-medium"
          >
            <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
              <div class="relative w-16 h-16">
                <img
                  [ngSrc]="item.imageUrl"
                  fill
                  ngSrcset="64w, 128w, 256w"
                  sizes="64px"
                  alt="Carousel Image"
                  class="object-cover rounded"
                  [priority]="$index < 2"
                />
              </div>
            </th>
            <td class="px-6 py-4">{{ item?.title }}</td>
            <td class="px-6 py-4">{{ item?.description || '-' }}</td>
            <td class="px-6 py-4">
              @if (isEdit()) {
              <button
                class="text-orange-50 bg-orange-400 hover:bg-orange-500 px-1 py-0.5 rounded cursor-pointer mr-1"
                (click)="onUpdate(item)"
              >
                <fa-icon [icon]="faPencil"></fa-icon>
              </button>
              } @if (isDelete()) {
              <button
                class="text-rose-50 bg-rose-600 hover:bg-rose-700 px-1 py-0.5 rounded cursor-pointer"
                (click)="onDelete(item?.id)"
              >
                <fa-icon [icon]="faXmark"></fa-icon>
              </button>
              }
            </td>
          </tr>
          }
        </tbody>
      </table>
      }
    </div>
  </div>
</section>
} @else {
<p class="text-3xl font-bold text-center p-10 text-red-600">
  You don't have permission to view this page.
</p>
}
