@if (isView()) {
<section class="flex flex-col lg:flex-row gap-5">
  @if (isInsert()) {
  <div class="w-full md:max-w-xl border mb-10">
    <h1 class="text-xl md:text-3xl font-bold text-teal-500 underline text-center mb-5">
      Carousel Form
    </h1>
    <form
      (submit)="onSubmit($event)"
      class="min-w-[400px] mx-auto px-2"
      enctype="multipart/form-data"
    >
      <!-- Title -->
      <div class="relative pb-2">
        <input
          type="text"
          [field]="carouselForm.title"
          id="title"
          class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-heading bg-transparent rounded-base border border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer"
          placeholder=" "
        />
        <label
          for="title"
          class="absolute text-sm text-body duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-left bg-neutral-primary px-2 peer-focus:px-2 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
          >Carousel Title</label
        >
      </div>
      <!-- description -->
      <div class="relative pb-2">
        <textarea
          id="description"
          [field]="carouselForm.description"
          rows="4"
          class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-heading bg-transparent rounded-base border border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer"
          placeholder=""
        ></textarea>
        <label
          for="description"
          class="absolute text-sm text-body duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-left bg-neutral-primary px-2 peer-focus:px-2 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
          >Carousel Description</label
        >
      </div>

      <!-- Image File Upload -->
      <div class="pb-2">
        <label class="block text-sm font-medium text-heading" for="imageUrl">Upload Image</label>
        <input
          #fileInput
          id="imageUrl"
          type="file"
          accept="image/*"
          (change)="onFileSelect($event)"
          class="cursor-pointer bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full shadow-xs placeholder:text-body"
        />
      </div>

      <div class="flex gap-2">
        <!-- Save -->
        <input
          type="submit"
          [value]="selectedCarousel() ? 'Update' : 'Save'"
          [disabled]="isSubmitted()"
          class="text-gray-50 bg-linear-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-linear-to-br focus:ring-1 focus:outline-none focus:ring-teal-300 shadow-lg shadow-teal-500/50 font-medium rounded text-sm px-5 py-2.5 text-center me-2 mb-2 h-10 w-full"
        />

        <button
          type="button"
          (click)="formReset()"
          class="text-gray-50 bg-linear-to-r from-red-400 via-red-500 to-red-600 hover:bg-linear-to-br focus:ring-1 focus:outline-none focus:ring-red-300 shadow-lg shadow-red-500/50 font-medium rounded text-sm px-5 py-2.5 text-center me-2 mb-2 h-10"
        >
          Clear
        </button>
      </div>
    </form>
  </div>
  }

  <!-- Carousel List Table -->
  <div class="w-full border mb-10 px-3 max-h-[98vh] overflow-scroll">
    <h1 class="text-xl md:text-3xl font-bold text-teal-500 underline text-center">Carousel List</h1>

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-2">
      <div class="flex items-end gap-2 flex-col md:flex-row px-2">
        <div class="w-full max-w-lg">
          <label for="table-search" class="sr-only">Search</label>
          <div class="relative mt-1">
            <div
              class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none"
            >
              <app-search></app-search>
            </div>
            <input
              #searchInput
              type="text"
              id="table-search"
              autocomplete="off"
              class="block ps-10 text-xs text-gray-950 border border-gray-300 rounded bg-teal-100 focus:ring-teal-500 focus:border-teal-500 w-full"
              (input)="onSearchCarousel($event)"
            />
          </div>
        </div>
      </div>

      <!-- Loading State -->
      @if (isLoading()) {
      <p class="text-3xl font-bold text-center p-10 text-teal-600">Loading ...</p>
      }

      <!-- Error State -->
      @else if (hasError()) {
      <p class="text-3xl font-bold text-center p-10 text-red-600">
        There was an error loading data.
      </p>
      }

      <!-- Empty State -->
      @else if (filteredCarouselList().length === 0) {
      <p class="text-3xl font-bold text-center p-10 text-orange-600">No carousels found.</p>
      }

      <!-- Table -->
      @else {
      <table class="w-full text-sm text-left rtl:text-right text-gray-950 mt-2">
        <thead class="text-sm text-gray-50 uppercase bg-gray-800">
          <tr>
            <th scope="col" class="p-2">Image</th>
            <th scope="col" class="p-2">Title</th>
            <th scope="col" class="p-2">Description</th>
            @if (isEdit() || isDelete()) {
            <th scope="col" class="px-1">Actions</th>
            }
          </tr>
        </thead>
        <tbody>
          @for (item of filteredCarouselList(); track item?.id || $index) {
          <tr
            id="row-{{ $index }}"
            class="bg-teal-50 border-b hover:bg-teal-600 hover:text-gray-50 cursor-pointer"
            [class.bg-teal-200]="highlightedTr() === $index"
          >
            <!-- Image -->
            <td class="p-2">
              @if (item.imageUrl) {
              <img
                [src]="imgURL + item.imageUrl"
                alt="Carousel Image"
                class="w-16 h-16 object-cover rounded"
              />
              } @else {
              <div class="w-16 h-16 bg-gray-200 rounded flex items-center justify-center">
                <span class="text-gray-500 text-xs">No Image</span>
              </div>
              }
            </td>

            <!-- Title -->
            <td scope="row" class="p-2 font-medium">
              {{ item?.title }}
            </td>

            <!-- Description -->
            <td class="p-2 max-w-xs truncate">
              {{ item?.description || '-' }}
            </td>

            <td class="flex gap-1 p-0.5">
              @if (isEdit()) {
              <button
                class="text-orange-50 bg-orange-400 hover:bg-orange-500 px-1 py-0.5 rounded cursor-pointer"
                (click)="onUpdate(item)"
              >
                <fa-icon [icon]="faPencil"></fa-icon>
              </button>
              } @if (isDelete()) {
              <button
                class="text-rose-50 bg-rose-600 hover:bg-rose-700 px-1 py-0.5 rounded cursor-pointer"
                (click)="onDelete(item?.id)"
              >
                <fa-icon [icon]="faXmark"></fa-icon>
              </button>
              }
            </td>
          </tr>
          }
        </tbody>
      </table>
      }
    </div>
  </div>
</section>
} @else {
<p class="text-3xl font-bold text-center p-10 text-red-600">
  You don't have permission to view this page.
</p>
}
