<aside
  id="sidebar-multi-level-sidebar"
  class="group fixed top-0 left-0 z-40 w-12 hover:w-72 h-screen overflow-hidden"
  (mouseenter)="setSidebarHover(true)"
  (mouseleave)="setSidebarHover(false)"
  aria-label="Sidebar"
>
  <div class="h-full pl-2 py-4 overflow-hidden bg-teal-300">
    <ul class="space-y-2 font-medium" id="accordion-collapse">
      <!-- Logo -->
      <li class="cursor-pointer">
        <a
          routerLink="/"
          class="flex items-center p-2 text-gray-950 rounded-lg hover:bg-gray-100"
        >
          <span class="ms-12 text-xl font-bold text-teal-700">SuperSoft</span>
        </a>
      </li>

      <!-- Sidebar Menu -->
      @for (item of sidebarData(); track item?.id) {
      <li class="cursor-pointer">
        @if (item?.menu) {
        <button
          type="button"
          class="flex items-center w-full py-2 px-3 -ml-1 text-gray-950 transition duration-75 rounded-lg hover:bg-gray-100"
          [attr.aria-controls]="item.label"
          [attr.data-accordion-target]="'#' + item?.label"
          aria-expanded="menuState()[item.id]"
          (click)="toggleMenu(item.id)"
        >
          <app-all-svg [icon]="item.icon"></app-all-svg>
          <span
            class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap text-gray-950"
          >
            {{ item.label }}
          </span>
          <app-all-svg
            [icon]="
              menuState()[item.id] ? 'sidebar-down-arrow' : 'sidebar-up-arrow'
            "
          ></app-all-svg>
        </button>

        <!-- Submenu -->
        <ul
          [id]="item?.label"
          [attr.aria-labelledby]="item?.label"
          [class.hidden]="!menuState()[item.id] || !sidebarHovered()"
          class="py-2 w-[97%] mx-auto bg-teal-200 rounded-lg"
        >
          @for (subItem of item.menu; track subItem?.route) {
          <li class="cursor-pointer">
            <a
              [routerLink]="subItem?.route"
              class="flex items-center w-full p-2 text-gray-950 transition duration-75 rounded-lg pl-10 hover:bg-gray-100"
            >
              {{ subItem.label }}
            </a>
          </li>
          }
        </ul>
        } @else {
        <!-- Single Link -->
        <a
          [routerLink]="item?.route"
          type="button"
          class="flex items-center w-full p-2 text-base text-gray-950 transition duration-75 rounded-lg hover:bg-gray-100"
        >
          <app-all-svg [icon]="item.icon"></app-all-svg>
          <span
            class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap"
            >{{ item.label }}</span
          >
        </a>
        }
      </li>
      }
    </ul>
  </div>
</aside>
